<input 
  [(ngModel)]="serverName"
  (input)="onUpdateServerEvent($event)"
  type="text" 
  name=""
  class="form-control">
<p [innerHtml]="serverName"></p>

<button 
  class="btn btn-warning"
  [disabled]="!serverName"
  (click)="onReset()">
	Reset
</button>

<button 
  class="btn btn-primary" 
  type="button" 
  [disabled]="!allowNewServer" 
  (click)="onCreateServer()">Add Server</button>

<p 
  [innerText]="serverCreationStatus"
  *ngIf="serverCreated; else noServer">Test</p>
<ng-template #noServer>
  <p>No Server was Created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>